<!doctype html>
<html>
  <head>
    <title>Presentation control</title>
    <meta charset='utf-8'>
    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
      }
      html, body {
        height: 100%;
      }
      button {
        font-size: 20em;
        width: 49%;
        height: 100%;
      }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    function sendBack(){
      $.ajax({
        type: "POST",
        url: '/previous',
        data: {data: Math.random()}
      });
    }
    function sendNext(){
      $.ajax({
        type: "POST",
        url: '/next',
        data: { data: Math.random()}
      });
    }
    </script>
  </head>
  <body>
    <button id='back' onclick='sendBack()'><-</button>
    <button id='next' onclick='sendNext()'>-></button>
  </body>
</html>